div{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; 
}
#logo{
    max-width: 80%;
    margin-left: -10px;
}
#streak{
    max-width: 80%;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
}
#buttonBarID{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
}
#topText{
    font-size: 130%;
}
#version{
    margin-left: -9%;
    margin-top: 15%;
    font-size: 60%;
    margin-right: auto;
    text-align: center;
    background-color: transparent !important;
}
.body-block {
    background-color: #f0f0f0;
    padding: 20px;             
    border-radius: 8px;        
    width: 80%;                
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 110%;
}
body {
    min-width: 200px;
}
.popup-content {
    overflow: auto; 
    word-wrap: break-word; 
    min-width: 250px;
}
#deleteStreak, #deleteStreakCancel, #deleteStreakConfirm, #newStreak, .buttonBar, #gems{
    cursor: pointer;
    background-color: #e54545;
    color: black;
    border: 1px solid black;
    border-radius: 8px;      
    margin: auto;
    width: auto;  
    padding: 4%;             
    text-align: center;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#deleteStreakConfirm, #newStreak{
    background-color: #a0e45f !important;
}
.buttonBar, #gems{     
    border: 0px solid black;
    margin:5px;
    min-width: 40px;
}
#gems{
    background-color: #f0f0f0;
    margin-right: 5%; margin-left: 10%;
    font-size: small;
}